<div class="flex flex-col" id="account_{{id}}">
  {{#with account}}
  <div class="text-xl">
    <form action="/accounts/{{id}}" method="put">
      <button class="border" type="submit">Save</button>
    </form>
  </div>
  {{/with}}
</div>
