<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/main.css?{{fingerprint 'main.css'}}">
  <script type="module"
    src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.2.4-ZifPufG8LWXS2LFpHP7B/mode=imports/optimized/@hotwired/turbo.js"></script>
</head>

<body class="flex">
  {{{body}}}
</body>

</html>
